.DS_Store
/code/*
!/code/example
!/code/gulpfile.js
!/code/config
/code/config/*
!/code/config/default.json.example
/php/logs/*
!/php/logs/.gitkeep
/db/logs/*
!/db/logs/.gitkeep
/web/logs/*
!/web/logs/.gitkeep
/redis/data/*
!/redis/data/.gitkeep
/redis/logs/*
!/redis/logs/.gitkeep